includes:
    - 'phpstan-baseline.neon'

parameters:
    level: max
    tmpDir: 'var/cache/phpstan'
    paths:
        - 'lib'
        - 'test'
    phpVersion: 80005
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkUninitializedProperties: true
    tipsOfTheDay: false
