includes:
    - 'vendor/phpstan/phpstan/conf/bleedingEdge.neon'
    - 'phpstan-baseline.neon'

parameters:
    level: max
    tmpDir: 'var/cache/phpstan'
    paths:
        - 'lib'
        - 'test'
    phpVersion: 80007
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkUninitializedProperties: true
    tipsOfTheDay: false
